@model IEnumerable<BookWeb.Entities.ApplicationRole>
@{
    ViewData["Title"] = "ApplicationRole";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">ApplicationRole</h3>
    </div>
  <!--<div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List</h4>
                <!-- <h6 class="card-subtitle">Add New ApplicationRole</h6>-->
                <div class="col-md-12 col-12 align-self-center">
                    <a asp-controller="ApplicationRole" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New ApplicationRole</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.Id</td>
                                    <td>@role.Name  </td>
                                    <td><a asp-action="Edit" asp-route-id="@role.Id" alt="Edit"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                                    <td><a asp-action="Delete" asp-route-id="@role.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>