<!DOCTYPE html>
<html>
<head>
    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
    <title> @ViewData["Title"] </title>
</head>
<body class="animsition">
    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
